{% extends 'base.html' %}

{% block body_block %}
    {% load static %}
    <section class="heading-page header-text" id="top"
             style="background-image: url({% static "images/heading-bg.jpg" %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6>Get all details</h6>
                    <h2>See Your Meeting Details</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="meetings-page" id="meetings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        {% for y in upcoming %}
                            <div class="col-lg-12">
                            <div class="meeting-single-item">
                                <div class="thumb">
                                    <div class="price">
                                        <span>${{ y.amount }}</span>
                                    </div>
                                    <div class="date">
                                        <p><b>{{ y.date }}</b></p>
                                    </div>
                                    <a href="meeting-details.html"><img src="/media/{{ y.image }}"
                                                                        alt=""></a>
                                </div>
                                <div class="down-content">
                                    <a href="meeting-details.html"><h4>{{ y.head_tag }}</h4></a>
                                    <div class="row">
                                        {% for x in meeting %}
                                            <p>{{ x.place }}</p>
                                            <p class="description">{{ x.content }} </p>
                                        {% endfor %}
                                    </div>

                                    <div class="row">
                                        {% for x in mt_details %}
                                            <div class="col-lg-4">
                                                <div class="hours">
                                                    <h5>Hours</h5>
                                                    <p>{{ x.date }}</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="location">
                                                    <h5>Location</h5>
                                                    <p>{{ x.location }}</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="book now">
                                                    <h5>Book Now</h5>
                                                    <p>{{ x.booking_number }}</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="share">
                                                    <h5>Share:</h5>
                                                    <ul>
                                                        <li><a href="{{ x.facebook }}">facebook</a></li>
                                                        <li><a href="{{ x.twitter }}">Twitter</a></li>
                                                        <li><a href="{{ x.linkedin }}">Linkedin</a></li>
                                                        <li><a href="{{ x.behance }}">Behance</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        <div class="col-lg-12">
                            <div class="main-button-red">
                                <a href="{% url 'meeting' %}">Back To Meetings List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}